.selector {
  position: relative;
  display: inline-block;
  width: 198px;
}

.selector__menu {
  padding: 0;
  margin: 0;
  display: block;
  z-index: 2;
  position: relative;
}

.selector__drop {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  margin-top: -20px;
}

.selector__open .selector__drop {
  display: block;
}

.menu__btn {
  padding: 10px 20px;
  color: var(--border-third);
  border: 1px solid var(--border-secondary);
  font-family: var(--mainfont);
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.menu__btn:hover,
.menu__active_btn {
  border: 1px solid transparent;
  background-color: var(--mainhover-orange);
  color: var(--mainwhite);
}

.menu__icon_up,
.menu__icon_down {
  width: 18px;
  height: 18px;
}

.menu__icon_up {
  transform: rotate(0deg);
}

.menu__icon_down {
  transform: rotate(180deg);
  filter: brightness(.5);
}

.menu__btn:hover .menu__icon_down {
  filter: brightness(1);
}

.selector__drop > button {
  width: 200px;
  padding: 10px 0;
  align-items: center;
  text-align: center;
  background-color: var(--bg-dropdown);
  color: var(--text-secondary);
  font-family: var(--mainfont);
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.selector__drop button:first-child {
  z-index: -1;
  padding-top: 30px;
}

.selector__drop button:last-child {
  border-radius: 0 0 10px 10px;
}

.selector__drop button:hover {
  background-color: var(--mainhover-orange);
  color: #FFF;
}
