:root {

  --mainfont: "Montserrat", sans-serif;
  --mainfw: 400;
  --mainfs: 16px;

  --mainwhite: #FFF;
  --mainorange: #EF4934;
  --mainhover-orange: #D43824;
  --mainhover-gray: #585858;

  --disablebtn: #CCC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body {
  justify-content: center;
  font-family: var(--mainfont);
  font-weight: var(--mainfw);
  font-size: var(--mainfs);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

